<!DOCTYPE html>
<html>
  <head>
    <title><%= total %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= total %></h1>
    <p>Valor total <%= total %></p>
  </body>
</html>
